input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
label{
  color: #eaeaea;
}
input[type=submit] {
  width: 100%;
  background-color: #eaeaea;
  color: #022954;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #022954;
  color: #eaeaea;
}
fieldset{
  width: 100%;
  height: 100%;
}
#formDiv {
  width: 1065px;
  height: 70%;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;


  background-color: #022954;
}